<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> {% block title%} {% endblock %} </title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
		<link rel="icon" href="{{url_for('static', filename='LogoLussana-1.png')}}">
		<script src="{{url_for('static', filename='client_helper.js')}}"> </script>

        {% block extra_head %}
        {% endblock %}
		
	</head>
	<body>
		<div class="topnav">
				<div class="title">
					<strong class="Nav"> 
						<a class="null" href="/">COGESTIONE <span style="color: #00C199;">LUSSANA</span> 2026 <img class="logo" src="{{url_for('static', filename='LogoLussana-1.png')}}"></a>
					</strong>
				</div>
				<div class="links">
					
					<a href="/create-corso">CREA CORSO</a>
					{% if session["logged"] %}
						<a href="/profile">PROFILO</a>
					{% else %}
						<!-- <a href="/auth/register">REGISTRATI</a> -->
						<a href="/auth/login">LOGIN</a>
					{% endif %}
			
					{% if session["logged"] %}
						<a href="/auth/logout">LOGOUT</a>
					{% endif %}
				</div>
		</div>

		
		<div class="content">
			<div class="flashed-messages">
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}	
							<div class="alert alert-{{ category }}">
								<p class="alert-text"> {{ message }} </p>
								<button type="button" class="close alert-dismiss" onclick="del_flashed_message(this)">
								<span aria-hidden="true"> &times; </span>
								</button>
							</div>
						{% endfor %}
					{% endif %}
				{% endwith %}
			</div>

			{% block content%}
			{% endblock %}
		</div>

		
	</body>
</html>
