{% extends "base.html" %}
{% block title %} Crea un nuovo corso {% endblock %}

{% block extra_head %}
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
{% endblock %}

{% block content %}
    <center>
        <form class="register-form" method="POST">
            <h1> <strong>CREA UN NUOVO CORSO</strong> </h1>
            <div class="input_fields">

                <label for="titolo"><b>Titolo</b></label>
                <input type="text" id="titolo" name="titolo" class="inputform" required>

                <br>

                <label for="descrizione"><b>Descrizione</b></label>
                <input type="text" id="descrizione" name="descrizione" class="inputform" required>

                <br>


            <div id="search-bar" class="search-bar">
                <label><b>Altri organizzatori</b></label>

                <!-- input nascosto per submit -->
                <input v-model="selection_str" type="text" name="organizzatori" class="very-hidden">

                <!-- STUDENTI SELEZIONATI -->
                <div id="selected-students">
                    <label><b>Selezionati:</b></label>

                    <div v-if="selected.length" id="selected-chips">
                        <div v-for="user in selected" :key="user.id" class="student-chip">
                            [[ user.full_name ]]
                            <button type="button" @click="deselect(user.email)">×</button>
                        </div>
                    </div>

                    <p v-if="selected.length == 0">
                        Non hai ancora scelto altri organizzatori oltre a te
                    </p>
                </div>

                <!-- INPUT RICERCA -->
                <div id="autocomplete-wrapper">
                    <input
                        v-model="query"
                        @input="search"
                        placeholder="Cerca studenti..."
                        class="inputform"
                        autocomplete="off"
                    />

                    <!-- DROPDOWN RISULTATI -->
                    <ul v-if="results.length" id="autocomplete-results">
                        <li
                            v-for="user in results"
                            :key="user.id"
                            @click="select(user.email)"
                            class="autocomplete-item"
                        >
                            [[ user.full_name ]]
                        </li>
                    </ul>

                    <p v-if="results.length == 0 && query.length >= 2 && !loading">
                        Nessun risultato per "[[ query ]]"
                    </p>
                </div>
            </div>

            <label for="fascia"><b>Fasce</b></label>
            <br>

            <input type="checkbox" id="fascia1" name="fascia1" class="checkbox-form">
            <label for="fascia1">Fascia 1</label>
            <br>
            <input type="checkbox" id="fascia2" name="fascia2" class="checkbox-form">
            <label for="fascia2">Fascia 2</label>
            <br>
            <input type="checkbox" id="fascia3" name="fascia3" class="checkbox-form">
            <label for="fascia3">Fascia 3</label>
            <br>
            <input type="checkbox" id="fascia4" name="fascia4" class="checkbox-form">
            <label for="fascia4">Fascia 4</label>
            <br>
            <input type="checkbox" id="fascia5" name="fascia5" class="checkbox-form">
            <label for="fascia5">Fascia 5</label>
            <br>

            <br>

            <label for="note"><b>Note</b></label>
            <input type="text" id="note" name="note" class="inputform">

            <button type="submit" class="outline_md_btn">
                Crea
            </button>
        </form>
    </center>

    <script src="{{url_for('static', filename='vue_logic.js')}}"> </script>
{% endblock %}
