{% extends "base2.html" %}
{% block title %} Cogestione Lussana {% endblock %}

{% block content %}
	<center>
		<div class="home1">
			<h1 class="title"> HOMEPAGE COGESTIONE <span style="color: #00C199;">LUSSANA </span>  2026  </h1>
			<img class="logo" src="{{url_for('static', filename='LogoLussana-1.png')}}">
			
            <a class="home" href="{{url_for('core.create_corso')}}"> CREA CORSO </a>
			{% if session["logged"] %}
                <a class="home" href="{{url_for('core.profile')}}"> PROFILO </a>
			{% else %}
                <!-- <a class="home" href="{{url_for('auth.register')}}"> REGISTRATI </a> -->
                <a class="home" href="{{url_for('auth.login')}}"> LOGIN </a>
			{% endif %}
		
			{% if session["logged"] %}
                <a class="home" href="{{url_for('auth.logout')}}"> LOGOUT </a>
			{% endif %}
		</div>
	</center>

{% endblock %}
