{% extends "base.html" %}
{% block title %} Profilo {% endblock %}

{% block content %}

	<h3> <strong> RIEPILOGO CORSI {{ utente.cognome }} {{ utente.nome }} {{ utente.classe }}</strong> </h3>
	<br> <br>
	<div class="table-container">
		<table>
			<tr class="ids">
				<th> Fascia </th>
				<th> Corso </th>
				<th> Organizzatori </th>
				<th> Elimina </th>
				<!-- <th> Appello </th> -->
			</tr>
			{% for i in range(1, 6) %}
				<tr>
                    <th class="fasce"> {{ i }} ( ORARIO FASCIA {{ i }} ) </th>
					{% if corsi[i] %}
						{% if corsi[i]["organizzato"] %}
							<th> <a class="iscriviti" href="{{ url_for("core.info_corso", id_corso=corsi[i]["id"]) }}"> {{ corsi[i]["titolo"] }} </a> </th>
							<th> {{ corsi[i]["organizzatori"] }} </th>
                            <th> <a class="iscriviti" href="{{ url_for("core.delete_corso", id=corsi[i]["id"]) }}"> Elimina corso </a> </th>
							<!-- <th> {{ corsi[i]["aula"] }} </th> -->
							<!-- <th>
								<a class="iscriviti" href="{#url_for("core.appello", id_corso=corsi[i]["id"]#}}"> APPELLO CORSO </a>
							</th> -->
						{% else %}
							<th> <a class="iscriviti" href="{{ url_for("core.info_corso", id_corso=corsi[i]["id"]) }}"> {{ corsi[i]["titolo"] }} </a> </th>
							<th> {{ corsi[i]["organizzatori"] }} </th>
							<th> {{ corsi[i]["aula"] }} </th>
							<!-- <th> Non organizzi questo corso </th> -->
						{% endif %}
					{% else %}
						<!-- <th> <a class="iscriviti" href="/lista-corsi/{{i}}"> Iscriviti! </a> </th> -->
                        <th> </th>
						<th> <a class="iscriviti" href="/create-corso/"> Crea un corso! </a> </th>
						<th> </th>
						<!-- <th> </th> -->
					{% endif %}
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
