{% extends "base.html" %}
{% block title %} Reset password {% endblock %}

{% block content %}
	<center>
		
		<form class="register-form" method="POST">
			<h1> Reset Password </h1>
			<div class="input_fields">
                <label> Email: {{ user_email }} -</label>
                <a class="iscriviti" href="{{url_for('auth.prelogin')}}"> Cambia email </a>
				<br> <br>
				<!-- <label for="email"><b>Email</b></label> -->
				<!-- <input type="text" name="email" id="email" class="inputform" placeholder="Email" required> -->
				<label for="pssw"><b>Nuova Password</b></label>
				<input type="password" name="password1" id="password1" class="inputform" placeholder="Password" required>
				<br>
				<label for="confpssw"><b>Conferma Nuova Password</b></label>
				<input type="password" name="password2" id="password2" class="inputform" placeholder="Confirm password" required>
				<br>
			</div>
			<button type="submit" class="outline_md_btn">
				Reset
			</button>
		</form>
	</center>
{% endblock %}
