{% extends "base.html" %}
{% block title %} Appello - {{ corso.titolo }} {% endblock %}

{% block content %}

	<h3> <strong> APPELLO PRESENZE - {{ corso.titolo }} </strong> </h3>
	<br> <br>
	<div class="table-container">
		<table>
			<tr class="ids">
				<th> Nome e Cognome </th>
				<th> Presenza </th>
			</tr>
			{% for persona in persone %}
				<tr>
					<th> {{ persona["name"] }} </th>
					<th> 
						{% if persona["assegnato"] %}
							{% if persona["valore"] %}
								<button class="appello-checkbox app-green"> ✔ </button>
								<button class="appello-checkbox app-gray"> ✖ </button>
							{% else %}
								<button class="appello-checkbox app-gray"> ✔ </button>
								<button class="appello-checkbox app-red"> ✖ </button>
							{% endif %}
						{% else %}
							<button class="appello-checkbox app-gray"> ✔ </button>
							<button class="appello-checkbox app-gray"> ✖ </button>
						{% endif %}
					</th>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}