{% extends "base.html" %}
{% block title %} Appello - {{ corso.titolo }} {% endblock %}

{% block content %}

	<h3> <strong> APPELLO PRESENZE - {{ corso.titolo }} </strong> </h3>
	<br> <br>
	<div class="table-container">
		<table id="lista-appello">
			<tr class="ids">
				<th> Nome e Cognome </th>
				<th> Presenza </th>
			</tr>
			{% for persona in persone %}
				<tr>
					<th> {{ persona["name"] }} </th>
					<th>
						{% if persona["assegnato"] %}
							{% if persona["valore"] %}
								<button id="pres-{{persona["id"]}}" class="appello-checkbox app-green" onclick="segna_presenza({{persona["id"]}}, 1)"> ✔ </button>
								<button id="asse-{{persona["id"]}}" class="appello-checkbox app-gray" onclick="segna_presenza({{persona["id"]}}, 0)"> ✖ </button>
							{% else %}
								<button id="pres-{{persona["id"]}}" class="appello-checkbox app-gray" onclick="segna_presenza({{persona["id"]}}, 1)"> ✔ </button>
								<button id="asse-{{persona["id"]}}" class="appello-checkbox app-red" onclick="segna_presenza({{persona["id"]}}, 0)"> ✖ </button>
							{% endif %}
						{% else %}
							<button id="pres-{{persona["id"]}}" class="appello-checkbox app-gray" onclick="segna_presenza({{persona["id"]}}, 1)"> ✔ </button>
							<button id="asse-{{persona["id"]}}" class="appello-checkbox app-gray" onclick="segna_presenza({{persona["id"]}}, 0)"> ✖ </button>
						{% endif %}
					</th>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}