<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> {% block title%} {% endblock %} </title>																																																																																																																																																																																																		 </title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
		<script src="{{url_for('static', filename='client_helper.js')}}"> </script>
		<!-- <script src="https://apis.google.com/js/platform.js" async defer></script>
		<meta name="google-signin-client_id" content="767317081882-rn7qiemb4kpgvooo7q9dp099m7ca3kn2.apps.googleusercontent.com">
		-->
		
	</head>
	<body>
			<div class="topnav">
				<center>
					<strong style="color: white; font-size: 45px"> 
						COGESTIONE
						<span style="color: #00C199;">LUSSANA </span> 
						2025 
						<img src="{{url_for('static', filename='LogoLussana-1.png')}}">
					</strong>
					<a href="/"> HOMEPAGE </a>
					<a href="/lista-corsi"> CORSI </a>
					{% if session["logged"] %}
						<a href="/profile"> PROFILO </a>
					{% else %}
						<a href="/register"> REGISTRATI </a>
						<a href="/login"> LOGIN </a>
					{% endif %}

					{% if session["logged"] %}
						<a href="/logout"> LOGOUT </a>
					{% endif %}
				</center>
				
		</div>
		
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}	
							<div class="alert alert-{{ category }}">
								{{ message }} 
								<button type="button" class="close" onclick="del_flashed_message(this)">
								<span aria-hidden="true"> &times; </span>
								</button>
							</div>
						{% endfor %}
					{% endif %}
				{% endwith %}
		<div class="content">
			{% block content%}
			{% endblock %}
		</div>

		
	</body>
</html>