{% extends "base.html" %}
{% block title %} {{ corso.titolo }} {% endblock %}

{% block content %}

	<a href="/lista-corsi/{{ corso.fascia }}"> <- indietro </a>

	<h1> {{ corso.titolo }} </h1>
	<p> id: {{ corso.id }} </p>
	<p> {{ corso.descrizione }} </p>
	<p> posti: {{ corso.posti_occupati }} / {{ corso.posti_totali }} </p>
	<p> aula: {{ corso.aula }} </p>
	<p> organizzatori: {{ corso.organizzatori }} </p>
	<p> note: {{ corso.note }} </p>

	<button onclick="iscrizione({{ corso.id }})"> ISCRIVITI! </button>
	
{% endblock %}
