{% extends "base.html" %}
{% block title %} {{ corso.titolo }} {% endblock %}

{% block content %}

	<a class="iscriviti" href="/lista-corsi/{{ corso.fascia }}"> <- indietro </a>
	
	<h1> {{ corso.titolo }} </h1>
	{% for line in corso.descrizione.splitlines() %}
		<p> {{ line }} </p> <br>
	{% endfor %}
	<h2><b>Info Corso</b></h2>
	<ul class="info">
		<li> FASCIA: {{ corso.fascia }}</li>
		<li> POSTI: {{ corso.posti_occupati }} / {{ corso.posti_totali }} </li>
		<li> AULA: {{ corso.aula }} </li>
		<li> ORGANIZZATORI INTERNI: {{ referenti }} </li>
	</ul>

	<u>
		<p class="iscriviti"> Le iscrizioni sono chiuse! </p>
	</u>
	<!--
	{% if session["logged"] %}
		<button onclick="iscrizione({{ corso.id }})" class="sub"> <b>ISCRIVITI AL CORSO!!!</b> </button>
		{% else %}
		<u>
			<a href="/login" class="iscriviti"> Devi fare il login prima di iscriverti! </a>
		</u>
	{% endif%}
	-->
{% endblock %}
