{% extends "base.html" %}
{% block title %} {{ corso.titolo }} {% endblock %}

{% block content %}

	<a href="/lista-corsi/{{ corso.fascia }}"> <- indietro </a>
	
	<h1> {{ corso.titolo }} </h1>
	<p> {{ corso.descrizione }} </p>
	<h2><b>Info Corso</b></h2>
	<ul class="info">
		<li> FASCIA: {{ corso.fascia }}</li>
		<li> POSTI: {{ corso.posti_occupati }} / {{ corso.posti_totali }} </li>
		<li> AULA: {{ corso.aula }} </li>
		<li> ORGANIZZATORI: {{ corso.organizzatori }} </li>
		<li> NOTE: {{ corso.note }} </li>
	</ul>

	{% if session["logged"] %}
		<button onclick="iscrizione({{ corso.id }})" class="sub"> <b>ISCRIVITI AL CORSO!!!</b> </button>
	{% else %}
		<a href="/login"> Devi fare il login prima di iscriverti! </a>
	{% endif%}
{% endblock %}
