{% extends "base2.html" %}
{% block title %} Cogestione Lussana {% endblock %}

{% block content %}
	<center>
		<div class="home1">
			<h1 class="title"> HOMEPAGE COGESTIONE <span style="color: #00C199;">LUSSANA </span>  2025  </h1>
			<img src="{{url_for('static', filename='LogoLussana-1.png')}}">
			
			<a class="home" href="/lista-corsi"> CORSI </a>
			{% if session["logged"] %}
				<a class="home" href="/profile"> PROFILO </a> 
			{% else %}
				<a class="home" href="/register"> REGISTRATI </a> 
				<a class="home" href="/login"> LOGIN </a> 
			{% endif %}
		
			{% if session["logged"] %}
				<a class="home" href="/logout"> LOGOUT </a> 
			{% endif %}
		</div>
	</center>
	
{% endblock %}
