{% extends "base.html" %}
{% block title %} Verifica email {% endblock %}

{% block content %}
	<center>
		
		<form class="verification-form" method="POST">
			<h1> Verifica </h1>

			<div class="input_fields">
				<label for="code"><b>Codice di verifica</b></label>
				<input type="text" name="verification-code" id="verification-code" class="inputform" placeholder="Codice di verifica" required>
			</div>
			<button type="submit" class="outline_md_btn">
				Verifica
			</button>
		</form>
	</center>
{% endblock %}